@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* footer P */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@700&family=PT+Serif:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 99, 92);
}

.nav-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.nav-inicio a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

.btn-contacto {
    border-radius: 50%;
    width: 10%;
    height: 90%;
}

.btn-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 50%;
    height: 90%;
    width: 10%;
}

.btn-carrito span {
    display: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}


/*formulario contacto*/

.formContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 370px;
    background-color: rgb(0, 99, 92);
    margin: 10px;

}

.buttonForm {
    background-color: white;
    border-radius: 20px;
    margin-left: 90%;
    width: 10%;
}

.buttonForm:hover {
    background-color: red;
}

.formulario {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin: 20px;
}

.formulario input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    /* border: 1px solid blue;
    border-radius: 40px;
    text-align: center;
    margin: 20px;
    height: 40px;
    width: 80%; */
}

.formulario textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.formulario button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
}



/*BUSCADOR*/
.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(0, 99, 92);
    border-radius: 15px;
    margin: 10px;
    height: 90px;
    width: 80%;
}

.buscador p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.buscador input {
    text-align: center;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px gray;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas, monaco, monospace;
}

.buscador input:focus {
    outline: 1px solid rgb(0, 99, 92);
    box-shadow: none;
    width: 230px;
}

.buscador input::placeholder {
    color: rgb(0, 99, 92);
}

/*MODAL*/

.modalContainer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(0deg, rgba(0, 99, 92, 1) 2%, rgba(150, 150, 150, 1) 85%);
    border-radius: 12px;
    overflow: scroll;
    position: fixed;

    margin: 50px;
    width: 30%;
    height: 70%;

}

.modalContainer::-webkit-scrollbar {
    display: none;
}


.btnCerrar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

.modalContainer h1 {
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(0, 99, 92, 1);
    color: white;
    font-size: 1.5rem;
}

.modalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    width: 80%;
}

.cardShadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.cardHeader img {
    margin: 2px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.cardHeader h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 5px;
    width: 60%;
    border-radius: 40px;
    text-align: center;
}

.cardHeader span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 107, 190);
    color: white;
    font-size: 1rem;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(105, 104, 104);
    border: solid 1px black;
    border-radius: 50px;
    width: 90%;
    margin: 2px;

}

.cardButton span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: solid 1px black;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.cardButton span:hover {
    background-color: rgb(77, 77, 145);
}

.cardButton h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.btnEliminar {
    margin: 5px;
    width: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.btnEliminar:hover {
    background-color: red;
    color: white;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: black;
    border: 1px solid black;
    width: 30%;
    height: 40px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}

/* PRODUCTOS/CARD */

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(0, 99, 92);
    color: white;
    width: 250px;
    height: 450px;
    margin: 20px;
}

.tarjeta:hover {
    background-color: white;
    border: solid 2px rgb(0, 99, 92);
    color: rgb(0, 99, 92);
}

.tarjeta img {
    border-radius: 20px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.tarjeta-body h1 {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tarjeta-body p {
    margin: 25px;
    text-transform: uppercase;
    text-align: center;
}

.tarjeta-body p {
    margin: 25px;
    text-transform: uppercase;
    text-align: center;
}

.tarjeta button {
    background-color: white;
    color: rgb(0, 99, 92);
    margin-bottom: 5px;
    border-radius: 50px;
    width: 150px;
}

.tarjeta button:hover {
    background-color: rgb(0, 99, 92);
    color: white;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    width: 100%;
    height: 70px;

}

.footer-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer-facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1877f2;
    border-radius: 100px;
    width: 10%;
    height: 60px;
}

.footer-insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8a3ab9, #e95950);
    border-radius: 100px;
    width: 10%;
    height: 60px;
}

.footer-gh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 100px;
    width: 10%;
    height: 60px;
}

.footer a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}





/* MEDIA QUERY PARA TABLET 
@media (min-width: 577px) and (max-width: 991px) {
    body {
        background-color: white;
    }
}*/

/* MEDIA QUERY PARA DISPOSITIVO MOVIL
@media (min-width: 320px) and (max-width: 576px) {} */