@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* footer P */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@700&family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MEDIA QUERY PARA DISPOSITIVO MOVIL */
@media (min-width: 320px) and (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* NAV */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 99, 92);
        width: 100%;
        height: 80px;
    }

    .nav-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(0, 99, 92);
        border-radius: 100%;
        text-transform: uppercase;
        width: 60px;
        height: 60px;
        margin: 3px;
    }

    .nav-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 90%;
    }

    .nav-items button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        border-radius: 15%;
    }


    .btn-carrito span {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: red;
        font-family: 'Roboto', sans-serif;
        border-radius: 50px;
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
        width: 20px;
        height: 20px;
    }

    /* FORMULARIO */

    .form-container {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        width: 90%;
        height: 300px;
        background-color: rgb(0, 99, 92);
    }

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10%;
        margin: 3px;
    }

    .form-header h4 {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: white;
        margin: 5px;
    }

    .form-header span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 3px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 90%;
        margin: 5px;
    }

    .form-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        height: 90px;
        margin: 5px;

    }

    .form-input input {
        width: 85%;
        height: 30%;
        border-radius: 50px;
        border: none;
        text-align: center;
    }

    .formulario textarea {
        min-width: 90%;
        max-width: 90%;
        height: 80px;
        border-radius: 0px 20px 20px 20px;
        resize: none;
    }

    .form-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 30px;
        margin: 5px;
    }

    .form-btn button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(0, 99, 92);
        border: solid 1px black;
        border-radius: 100px;
        width: 40%;
        height: 25px;
        text-transform: uppercase;
    }

    /* CARRITO */
    .carrito-container {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: solid 2px rgb(0, 99, 92);
        position: fixed;
        top: 80px;
        width: 90%;
        height: 450px;
        margin: 5px;
        overflow: auto;
    }

    .carrito-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 10%;
        margin: 3px;
        border-bottom: solid 2px rgb(0, 99, 92);
    }

    .carrito-header h4 {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: rgb(0, 99, 92);
        margin: 5px;
    }

    .carrito-header span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 3px;
    }

    /* CARD CARRITO */

    .card-carrito {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: solid 3px rgb(0, 99, 92);
        width: 80%;
        height: 300px;
        margin: 5px;
    }


    .card-carrito img {
        width: 100px;
        height: 100px;
        border: solid 1px rgb(0, 99, 92);
        margin: 5px;
    }

    .card-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(0, 99, 92);
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        width: 100%;
        height: 90px;

    }

    .card-button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(0, 99, 92);
        width: 100%;
        height: 40px;
        margin: 5px;
    }

    .btn-eliminar {
        background-color: red;
        color: white;
        border-radius: 50px;
        width: 50%;
        height: 40px;
        margin: 5px;
        text-transform: uppercase;
    }

    .carrito-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 99, 92);
        color: white;
        text-transform: uppercase;
        width: 40%;
        min-height: 60px;
        margin: 5px;
        margin-left: 50%;

    }



    /* BUSCADOR */

    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 10px;
        background-color: rgb(0, 99, 92);
    }

    .search-container p {
        text-align: center;
        color: white;
        width: 95%;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
    }

    .search-container input {
        text-align: center;
        border-radius: 100px;
        border: none;
    }

    /* PRODUCTOS */

    .productos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(0, 99, 92);
        border-radius: 20px;
        width: 95%;
        height: 400px;
        margin: 15px;
    }

    .tarjeta img {
        border-radius: 30px;
        max-width: 60%;
        height: 200px;
    }

    .tarjeta-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 100px;
    }

    .tarjeta-info h2 {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        width: 100%;
    }

    .tarjeta-info p {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-transform: capitalize;
    }

    .tarjeta span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(0, 99, 92);
        font-family: 'Roboto', sans-serif;
        border-radius: 100px;
        width: 25%;
        height: 35px;
        margin: 3px;
    }

    .tarjeta button {
        background-color: #1899D6;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 100px;
        margin: 5px;
        width: 40%;
        height: 30px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 150px;
    width: 100%;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.footer-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
}

.footer-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B5;
    width: 40px;
    height: 40px;
}

.footer-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8a3ab9, #e95950);
    width: 40px;
    height: 40px;
}

.footer-gh {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    width: 40px;
    height: 40px;
}



/* 
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

BARRA DE NAVEGACION 
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 99, 92);
}

.nav-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    margin: 5px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-inicio a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
}

.nav-items button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn-carrito span {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}


FORMULARIO CONTACTO
.form-container {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(0, 99, 92);

    width: 50%;
    height: 500px;
    margin: 20px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-header h4 {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-transform: uppercase;
}

.form-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px;
    width: 60%;
    height: 380px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 90%;
    height: 200px;
}

.form-input input {
    background-color: rgb(0, 99, 92);
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 90%;
    height: 50px;
}

.form-input input::placeholder {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.formulario textarea {
    border: solid 3px rgb(0, 99, 92);
    min-width: 90%;
    max-width: 90%;
    min-height: 90px;
    max-height: 90px;

}

.form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    width: 90%;
    height: 50px;

}

.form-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: white;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: 30px;
}

MODAL CARRITO

.modalContainer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(0, 99, 92);
    border-radius: 12px;
    overflow: scroll;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;

}

.modalContainer::-webkit-scrollbar {
    display: none;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
}

.carrito-header h4 {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

.carrito-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 15px;
    width: 80%;
}


.btn-eliminar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: red;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 10px;
}

.btn-eliminar span {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}


.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.card-header img {
    margin: 2px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.card-header h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: rgb(0, 99, 92);
    color: white;
    margin: 5px;
    width: 60%;
    border-radius: 40px;
    text-align: center;
}

.card-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: white;
    font-size: 1rem;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    border: solid 1px black;
    border-radius: 50px;
    width: 90%;
    margin: 2px;

}

.cardButton span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: solid 1px black;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.cardButton span:hover {
    background-color: rgb(77, 77, 145);
}

.cardButton h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: black;
    border: 1px solid black;
    width: 30%;
    height: 40px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

BUSCADOR

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    border-radius: 30px;
    margin: 10px;
    width: 50%;
    height: 100px;
}

.search-container p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-transform: uppercase;
    margin: 5px;
}


.search-container input {
    border-radius: 50px;
    width: 70%;
    height: 40px;
    border-radius: 8px;
    text-align: center;
}

PRODUCTOS/CARD

.productos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(0, 99, 92);
    color: white;
    width: 250px;
    height: 450px;
    margin: 20px;
}

.tarjeta:hover {
    background-color: white;
    border: solid 2px rgb(0, 99, 92);
    color: rgb(0, 99, 92);
}

.tarjeta img {
    border-radius: 20px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.tarjeta-body h1 {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.tarjeta-body p {
    margin: 25px;
    text-transform: uppercase;
    text-align: center;
}


.tarjeta button {
    background-color: white;
    color: rgb(0, 99, 92);
    margin-bottom: 5px;
    border-radius: 50px;
    width: 150px;
}

.tarjeta button:hover {
    background-color: rgb(0, 99, 92);
    color: white;
}

FOOTER

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 99, 92);
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    width: 100%;
    height: 70px;

}

.footer-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer-linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0077B5;
    border-radius: 100px;
    width: 10%;
    height: 60px;
    cursor: pointer;
}

.footer-insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8a3ab9, #e95950);
    border-radius: 100px;
    width: 10%;
    height: 60px;
    cursor: pointer;
}

.footer-gh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 100px;
    width: 10%;
    height: 60px;
    cursor: pointer;
} */






/* MEDIA QUERY PARA TABLET 
@media (min-width: 577px) and (max-width: 991px) {
}*/