@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 100%;
    height: 80px;
}

.nav-inicio {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.nav-inicio a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(0, 99, 92);
    border-radius: 50%;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 5px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

.nav-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav-carrito span {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    width: 20px;
    height: 20px;
}

/* FORMULARIO */

.form-container {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 60%;
    height: 400px;
    margin: 20px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

.form-header h4 {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: white;
}

.form-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 40px;
    height: 40px;

}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 320px;
}

.form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 95px;
    margin: 5px;
}

.form-input input {
    text-align: center;
    border-radius: 50px;
    border: none;
    width: 90%;
    height: 40%;
}

.formulario textarea {
    width: 95%;
    height: 95px;
    border-radius: 0px 20px 20px 20px;
    resize: none;
}

.form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.form-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(0, 99, 92);
    border: solid 1px black;
    border-radius: 100px;
    width: 20%;
    height: 25px;
    text-transform: uppercase;
}

/* BUSCADOR */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 50%;
    height: 110px;
    margin: 20px;
}

.search-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 30px;
}

.search-container input {
    text-align: center;
    border-radius: 100px;
    border: none;
    width: 90%;
    height: 30px;
    margin: 5px;
}

.search-mje {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
}

/* PRODUCTOS */
.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    border-radius: 20px;
    width: 20%;
    height: 400px;
    margin: 5px;
}

.tarjeta:hover {
    border: solid 2px black;
}

.tarjeta img {
    width: 160px;
    height: 160px;
}

.tarjeta h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
}

.tarjeta p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
}

.tarjeta span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.tarjeta-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.tarjeta-footer button {
    background-color: #0077B5;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 60%;
    height: 80%;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 150px;
    width: 100%;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.footer-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
}

.footer-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B5;
    width: 40px;
    height: 40px;
}

.footer-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8a3ab9, #e95950);
    width: 40px;
    height: 40px;
}

.footer-gh {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    width: 40px;
    height: 40px;
}

/* MEDIA QUERY PARA DISPOSITIVO MOVIL */

@media (min-width: 320px) and (max-width: 576px) {

    /* FORMULARIO */
    .form-container {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 99, 92);
        margin: 20px;
        width: 90%;
        height: 300px;
    }

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10%;
        padding: 5px;
    }

    .form-header h4 {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: white;
    }

    .form-header span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 20px;
        height: 20px;

    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 90%;
        margin: 5px;
    }

    .form-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        height: 90px;
        margin: 5px;
    }

    .form-input input {
        width: 85%;
        height: 30%;
        border-radius: 50px;
        border: none;
        text-align: center;
    }

    .formulario textarea {
        min-width: 90%;
        max-width: 90%;
        height: 80px;
        border-radius: 0px 20px 20px 20px;
        resize: none;
    }

    .form-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 30px;
        margin: 5px;
    }

    .form-btn button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(0, 99, 92);
        border: solid 1px black;
        border-radius: 100px;
        width: 40%;
        height: 25px;
        text-transform: uppercase;
    }

    /* CARRITO */
    .carrito-container {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: solid 2px rgb(0, 99, 92);
        position: fixed;
        top: 80px;
        width: 90%;
        height: auto;
        max-height: 400px;
        margin: 5px;
        overflow: auto;
    }

    .carrito-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 10%;
        margin: 3px;
        border-bottom: solid 2px rgb(0, 99, 92);
    }

    .carrito-header h4 {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: rgb(0, 99, 92);
        margin: 5px;
    }

    .carrito-header span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 3px;
    }

    /* CARD CARRITO */

    .card-carrito {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: solid 3px rgb(0, 99, 92);
        width: 80%;
        height: 300px;
        margin: 5px;
    }

    .card-carrito img {
        width: 100px;
        height: 100px;
        border: solid 1px rgb(0, 99, 92);
        margin: 5px;
    }

    .card-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(0, 99, 92);
        border-radius: 20px;
        width: 100%;
        height: 90px;

    }

    .card-list h2 {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        width: 100%;
    }

    .card-list h3 {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        width: 100%;
    }

    .card-list span {
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .card-button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(0, 99, 92);
        width: 100%;
        height: 40px;
        margin: 5px;
    }

    .btn-eliminar {
        background-color: red;
        color: white;
        border-radius: 50px;
        border: none;
        width: 50%;
        height: 40px;
        margin: 5px;
        text-transform: uppercase;
    }

    .carrito-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 99, 92);
        color: white;
        text-transform: uppercase;
        width: 40%;
        min-height: 60px;
        margin: 5px;
        margin-left: 50%;

    }

    /* BUSCADOR */

    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(0, 99, 92);
        width: 80%;
        height: 80px;
        margin: 10px;
    }

    .search-container p {
        text-align: center;
        color: white;
        width: 95%;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
    }

    .search-container input {
        text-align: center;
        border-radius: 100px;
        border: none;
    }

    .search-mje {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        width: 90%;
        margin: 5px;
    }

    /* PRODUCTOS */

    .productos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(0, 99, 92);
        border-radius: 20px;
        width: 80%;
        height: 400px;
        margin: 5px;
    }


    .tarjeta img {
        width: 160px;
        height: 160px;
    }

    .tarjeta h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-transform: capitalize;
        width: 100%;
        height: 50px;
    }

    .tarjeta p {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        width: 100%;
        height: 40px;
    }

    .tarjeta span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        color: black;
        border-radius: 50px;
        width: 50px;
        height: 50px;
    }

    .tarjeta-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .tarjeta-footer button {
        background-color: #0077B5;
        color: white;
        border: none;
        border-radius: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        width: 60%;
        height: 80%;
    }

    /* .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(0, 99, 92);
        border-radius: 20px;
        max-width: 300px;
        width: 80%;
        height: 400px;
        margin: 15px;
    }

    .tarjeta img {
        border-radius: 30px;
        max-width: 70%;
        height: 200px;
    }

    .tarjeta-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 100px;
    }

    .tarjeta-info h2 {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        width: 100%;
    }

    .tarjeta-info p {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-transform: capitalize;
    }

    .tarjeta-info span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(0, 99, 92);
        font-family: 'Roboto', sans-serif;
        border-radius: 100px;
        width: 25%;
        height: 35px;
        margin: 3px;
    }

    .tarjeta button {
        background-color: #1899D6;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 100px;
        margin: 5px;
        width: 60%;
        height: 30px;
    } */
}

/* MEDIA QUERY PARA TABLET */

/* @media (min-width: 577px) and (max-width: 991px) {} */